Integration Webhooks.blueprint.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 15,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2300750,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -945,
                    "y": -176
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "bubble_new_case"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": null,
                "proxyKeychain": null,
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https:{{15.judgment_pdf_url}}",
                "method": "get",
                "shareCookies": false,
                "parseResponse": false,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": -565,
                    "y": -168
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "custom-js:pdfToText",
            "version": 1,
            "parameters": {
                "__IMTCONN__": "TAC_4516988"
            },
            "mapper": {
                "file": "{{16.data}}"
            },
            "metadata": {
                "designer": {
                    "x": -180,
                    "y": -166
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "custom-js2"
                            },
                            "label": "My Custom JS V2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:custom-js2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "file",
                        "type": "buffer",
                        "label": "Fils (6 MB max.)"
                    },
                    {
                        "name": "urls",
                        "type": "url",
                        "label": "URL"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "gemini-ai:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gemini-2.5-flash",
                "textPrompt": "You are a legal analyst AI trained in Indian case law.\r\n\r\nRead the court judgment given below and extract structured legal information.\r\nUse simple English but correct legal terminology.\r\nDo NOT invent facts.\r\nIf something is not mentioned, write \"Not mentioned\".\r\n\r\nReturn the output STRICTLY in valid JSON format as follows:\r\n\r\n{\r\n  \"court\": \"\",\r\n  \"case_title\": \"\",\r\n  \"year\": \"\",\r\n  \"citation\": \"\",\r\n  \"coram\": \"\",\r\n  \"facts\": \"\",\r\n  \"issues\": [],\r\n  \"arguments_petitioner\": \"\",\r\n  \"arguments_respondent\": \"\",\r\n  \"decision\": \"\",\r\n  \"reasoning\": \"\",\r\n  \"ratio_decidendi\": \"\"\r\n}\r\n\r\nHere is the judgment text:\r\n<<<\r\n{{17.text}}\n>>>\r\n"
            },
            "metadata": {
                "designer": {
                    "x": 148,
                    "y": -161
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Gemini 2.5 FlashApplies smart reasoning to fast data tasks while ensuring quick response times"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gemini-3-pro-preview",
                                "gemini-2.5-pro",
                                "gemini-2.5-flash"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "gemini-ai:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gemini-2.5-flash",
                "textPrompt": "You must respond with ONLY valid JSON.\r\nDo not include explanations.\r\nDo not use backticks.\r\nDo not add any text before or after the JSON.\r\nDo not use markdown.\n\nReturn ONLY raw JSON.\nDo NOT wrap the response in json or under any circumstances.\n\nDo NOT include any unsupported video properties.\r\nDo NOT include \"style\", \"fontStyle\", \"theme\", or any custom design keys.\n\r\n\r\nText elements must include ONLY:\r\n- text\r\n- size (small | medium | large)\r\n- color (hex)\r\n\r\nTitle frame and scenes must strictly follow this structure:\r\n\r\n{\r\n  \"title_frame\": {\r\n    \"court\": string,\r\n    \"case_title\": string,\r\n    \"year\": string,\r\n    \"citation\": string,\r\n    \"coram\": string\r\n  },\r\n  \"scenes\": [\r\n    {\r\n      \"scene_number\": number,\r\n      \"duration_seconds\": number,\r\n      \"narration\": string,\r\n      \"visual\": string\r\n    }\r\n  ]\r\n}\r\n\r\nReturn JSON only. No markdown. No explanations.\r\n\nAlso include start_time for each scene in seconds (cumulative).\nExample:\nScene 1 start_time = 0\nScene 2 start_time = 7\nScene 3 start_time = 17\netc.\n\n\nHere is the structured legal analysis of a court judgment:\r\n\r\n<<<\r\n{{18.result}}\n>>>\r\n\r\nYou are a legal explainer AI.\r\n\r\nYour task is to convert the given court judgment into a SHORT animated video script.\r\n\r\nSTRICT RULES:\r\n1. Output MUST be valid JSON only.\r\n2. Total video duration must be between 30 seconds and 2 minutes.\r\n3. Divide the story into 6–8 scenes.\r\n4. Each scene must include:\r\n   - duration_seconds (number)\r\n   - narration (spoken voice text, simple English)\r\n   - visual (what is shown on screen, animated explainer style)\r\n5. The first scene MUST be a title frame showing:\r\n   - Court name\r\n   - Case title\r\n   - Year\r\n6. Do NOT assume fixed characters like husband, wife, daughter-in-law.\r\n   Use neutral terms like “Party A”, “Party B”, “the claimant”, “the respondent”.\r\n7. Tone must be respectful, neutral, and educational.\r\n8. Use simple English and basic legal terms only.\r\n9. Explain WHY the court decided the case the way it did.\r\n10. Mention the laws involved, but do not quote section numbers unless necessary.\r\n\r\nReturn ONLY JSON in the following format:\r\n\r\n{\r\n  \"title_frame\": {\r\n    \"court\": \"\",\r\n    \"case_title\": \"\",\r\n    \"year\": \"\",\r\n    \"citation\": \"\",\r\n    \"coram\": \"\"\r\n  },\r\n  \"scenes\": [\r\n    {\r\n      \"scene_number\": 1,\r\n      \"duration_seconds\": 6,\r\n      \"narration\": \"\",\n      \"visual\": \"\"\r\n    }\r\n  ]\r\n}\n\n\nIMPORTANT:\r\nReturn ONLY valid minified JSON.\r\nDo not include markdown, code fences, explanations, or text outside JSON.\n\nReturn ONLY raw JSON.\nDo NOT wrap the response in json or under any circumstances.\r\n"
            },
            "metadata": {
                "designer": {
                    "x": 492,
                    "y": -158
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Gemini 2.5 FlashApplies smart reasoning to fast data tasks while ensuring quick response times"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gemini-3-pro-preview",
                                "gemini-2.5-pro",
                                "gemini-2.5-flash"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 277579
            },
            "mapper": {
                "json": "{{19.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1015,
                    "y": -154
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "video_script_schema"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "title_frame",
                        "spec": [
                            {
                                "help": "",
                                "name": "court",
                                "type": "text",
                                "label": "Court",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "case_title",
                                "type": "text",
                                "label": "Case title",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "year",
                                "type": "text",
                                "label": "Year",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "citation",
                                "type": "text",
                                "label": "Citation",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "coram",
                                "type": "text",
                                "label": "Coram",
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Title frame",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "scenes",
                        "spec": {
                            "spec": [
                                {
                                    "help": "",
                                    "name": "scene_number",
                                    "type": "number",
                                    "label": null,
                                    "default": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "duration_seconds",
                                    "type": "number",
                                    "label": null,
                                    "default": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "narration",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "visual",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                }
                            ],
                            "type": "collection",
                            "required": false
                        },
                        "type": "array",
                        "label": "Scenes",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{21.scenes}}"
            },
            "metadata": {
                "designer": {
                    "x": 1669,
                    "y": -158
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 22,
                "rowSeparator": "other",
                "otherRowSeparator": ","
            },
            "mapper": {
                "value": "{\r\n  \"asset\": {\r\n    \"type\": \"text\",\r\n    \"text\": \"{{22.narration}}\"\r\n  },\r\n  \"start\": {{22.start_time}},\r\n  \"length\": {{22.duration_seconds}}\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 2495,
                    "y": -163
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [22]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 27,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.shotstack.io/v1/render",
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "x-api-key",
                        "value": "Z00OtXMCNx2KQwdOOfuqFqHxFI2Vhrd5Jw1NfeXw"
                    }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\r\n  \"timeline\": {\r\n    \"tracks\": [\r\n      {\r\n        \"clips\": [\r\n          {{26.text}}\n        ]\r\n      }\r\n    ]\r\n  },\r\n  \"output\": {\r\n    \"format\": \"mp4\",\r\n    \"resolution\": \"sd\"\r\n  }\r\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 2883,
                    "y": -163
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.shotstack.io/v1/render/{{27.data.response.id}}",
                "method": "get",
                "headers": [
                    {
                        "name": "x-api-key",
                        "value": "Z00OtXMCNx2KQwdOOfuqFqHxFI2Vhrd5Jw1NfeXw"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 3222,
                    "y": -161
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}